body{
  text-align: center;
}

h1{
   font-family: Helvetica;
   font-size: 70px;
   font-weight: bold;
   color: white;
 }

nav p a{
   font-family: Helvetica;
   font-size: 18px;
   font-weight: bold;
   color: white;
 }

.header{
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  color: white;
}

h2{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 32px;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p{
  font-family: Helvetica;
  font-size: 14px;
}

.origin{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.footer p{
  font-size: 11px;
  color: white;
  font-family: Helvetica;
}

.footer a{
  color:white;
  font-family: Helvetica;
  font-size: 14px;
}

.footer{
  background-color: dimgray;
  text-align: left;
}
