body{
  text-align: center;
}

h1{
   font-family: Helvetica;
   font-size: 70px;
   font-weight: bold;
   color: white;
 }

 nav p{
   font-family: Helvetica;
   font-size: 18px;
   font-weight: bold;
 }

.header{
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  color: white;
}
